/* HEADER.js CSS */
.Link {
    color: black;
    padding: 20px;
    font-weight: bold;
    font-size: 1.15em;
    border-radius: 10px;
    background-color: rgba(214, 224, 202, 0.6);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 0px 4px 0 rgba(0, 0, 0, 0.19);
  }
  
  .LinkInicio {
    color: white;
    cursor: pointer;
    padding: 20px;
    font-weight: bold;
    font-size: 1.15em;
    border-radius: 10px;
    background-color: rgba(115, 174, 222, 0.922);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 0px 4px 0 rgba(0, 0, 0, 0.19);
  }
  
  .Link:hover {
    background-color:  rgb(225, 231, 218);
    color: #3e9762;
  }
  
  .LinkInicio:hover {
    background-color:  rgb(78, 158, 223);
    color: rgba(255, 255, 255, 0.8);
  }
  
.containerStyle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 20px;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 20px;
    max-height: 80px;
  }
  
  .Service{
    margin-left: 20px;
    width:10%;
    justify-content:end;
    align-items:flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    align-self: center;

    color:rgba(0, 0, 0, 0.7)
  }

/* ///////////////// */


*{
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

.container-mid{
    background: rgb(243, 249, 235);
    border-radius: 10px;
    width: 100%;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    
}

main{
    background: transparent;
    padding: 1%;
}


.head{
    padding: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gris{
    width: 120px;
    height: 120px;
    justify-content: flex-start;
    margin: 15px;
    flex-direction: row;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    position: fixed;
}

.icon{
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin: 10px;
}

.hamburguer{
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin: 10px;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    /* 02 */
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion a{
    cursor: pointer;
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    font-size: 190%;
}

.titulo-main{
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    color: white;
}

/* Services */

.subtitulo{
    color: #48C9B0;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
}

.services-contenedor{
    justify-content: center;
    display: block;
    padding-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 8px;
    color: #58b876;
    font-weight: 600;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #148770 0%, #94e47c 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 800;
}

footer{
    background: transparent;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 50%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
    margin-left: 4px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color: #148770;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }

    .agregarImagen{
        width: 80%;
    }


    .cont-expert{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }

    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }

}
